body{

margin:0;
font-family:Arial;
background:#0b0614;
color:white;

}

nav{

background:#120a24;
padding:15px 40px;

}

.logo{

font-size:20px;
font-weight:bold;
color:#c084fc;

}

header{

text-align:center;
padding:60px 20px;

}

header h1{

font-size:40px;

}

header input{

margin-top:20px;
padding:12px;
width:260px;
border-radius:8px;
border:none;
outline:none;

}

.plugin-grid{

display:grid;
grid-template-columns:repeat(auto-fit,minmax(220px,1fr));
gap:30px;
padding:40px;
max-width:1000px;
margin:auto;

}

.plugin{

background:#140c28;
padding:20px;
border-radius:12px;
text-align:center;
transition:0.2s;

}

.plugin:hover{

transform:translateY(-5px);

}

.plugin img{

width:70px;
margin-bottom:10px;

}

.version{

display:block;
margin:10px;
color:#a78bfa;

}

.download{

display:inline-block;
margin-top:10px;
padding:10px 18px;
background:#a855f7;
color:white;
text-decoration:none;
border-radius:8px;

}

.download:hover{

background:#9333ea;

}

footer{

text-align:center;
padding:30px;
color:#aaa;

}
